<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="offset-1 my-4">管理者ログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="offset-3">
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 35 %></td>
        </tr>
        <th><br></th>
        <tr>
          <td>パスワード</td>
          <td><%= f.password_field :password, autocomplete: "current-password",size: 35 %></td>
        </tr>
        <th><br></th>
        <tr>
        <td></td>
          <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>

 