@use '~bootstrap/scss/bootstrap';

// ヘッダー用
.btn-outline {
  border-color: lightgray;
}

// 新規商品登録ボタン
.btn-circle {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn-circle:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

// ジャンル
.field_with_errors {
  float: left;
  margin-right: 5px;
}

.pagination {
  justify-content: center;
}