<div class="container">
  <div class="row">
    <div class="col">
      <h1>商品一覧</h1>
      <%= @items.each do |item| %>
        <div class="card" style="width: 18rem;">
          <p><%= items.image %></p>
          <p><%= items.name %></p>
          <p><%= items.price %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>